/* Add these styles to your CSS file */
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.about-me {
    text-align: center;
    padding: 20px;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }
  
  .card-img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #333;
  }
  
  .text-muted {
    color: #999;
  }
  